
<!-- * ------- Navbar --------- * -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://www.620state.com/wp-content/uploads/2016/09/circle-logo-black-white-500.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', cocktails_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'New Dose', new_cocktail_dose_path(@cocktail), class: 'nav-link' %>
      </li>
    </ul>
  </div>
</div>

<div class="new_image" style="background: linear-gradient(135deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.3) 50%),
  url('https://unsplash.it/1000/500?random');
  background-size: cover; min-height: calc(100vh - 166px);">

<h2 class="show-text"><%= @cocktail.name %></h2>

<div class="container">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="card-trip">
            <img src="https://cdn.hipwallpaper.com/i/63/2/H6Wpuv.jpg" />
            <div class="card-trip-infos">
              <div>
                <h3><% @cocktail.doses.each do |d| %></h3>
                <p><%= d.ingredient.name %>: <%= d.description %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

  <!-- <h3>Doses:</h2> -->



 <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>




 <!--  <h3><% @cocktail.doses.each do |d| %></h3>
  <p><%= d.ingredient.name %></p>
  <p><%= d.description %></p>
  <% end %> -->


<!-- <h3><%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %></h3> -->


